# Exported from Render on 2026-02-09T03:50:59Z
version: "1"
projects:
- name: My project
  environments:
  - name: Production
    services:
    - type: web
      name: python-bot-telegram
      runtime: python
      repo: https://github.com/daodo721-gif/python-bot-telegram
      plan: free
      region: oregon
      buildCommand: pip install -r requirements.txt
      startCommand: python bot.py
      autoDeployTrigger: commit
